<h3>Hello <%= name %></h3>
<p>It seems that you requested to reset your password
    <br /> 
    Don't worry we got your back 
    <br />
    use this password: 
    <br />
    <%= password %> 
    <br />
    to login to your account. 
</p>